[submodule "honours-thesis"]
	path = honours-thesis
	url = git@github.com:alexcu/honours-thesis.git
[submodule "phd-thesis"]
	path = phd-thesis
	url = git@github.com:alexcu/phd-thesis.git

[submodule "ml-api-inconsistencies"]
	path = ml-api-inconsistencies
	url = git@github.com:alexcu/ml-api-inconsistencies
[submodule "facade"]
	path = facade
	url = https://git.overleaf.com/19588119bxbfwbkwmzvg
[submodule "esem2019"]
	path = esem2019
	url = git@github.com:alexcu/esem2019.git
[submodule "icse2020"]
	path = icse2020
	url = git@github.com:alexcu/icse2020.git
